<?xml version="1.0"?>
<ruleset name="wpmoo-coding-standards">
<description>Common PHPCS configuration for WPMoo repositories.</description>

    <!-- 1. Base Standard -->

    <rule ref="WPMoo" />

    <!-- 2. Arguments & Environment -->

    <ini name="error_reporting" value="E_ALL &#38; ~E_DEPRECATED"/>
    <arg name="extensions" value="php"/>
    <arg name="encoding" value="utf-8"/>
    <arg name="tab-width" value="4"/>
    <arg name="parallel" value="8"/>

    <!-- 3. Excludes -->

    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>node_modules/*</exclude-pattern>
    <exclude-pattern>build/*</exclude-pattern>
    <exclude-pattern>tests/_output/*</exclude-pattern>
    <exclude-pattern>tmp/*</exclude-pattern>
    <exclude-pattern>.git/*</exclude-pattern>

    <!-- 4. Shared Overrides -->

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="120"/>
            <property name="absoluteLineLimit" value="150"/>
        </properties>
    </rule>

    <!-- Generic rules -->
    <exclude name="Generic.Arrays.DisallowLongArraySyntax"/>
</ruleset>
